<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
      <title>{% block title %}{% endblock %} {{ config.TITLE }} </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class=flashes>
                {% for category, message in messages %}
                        <div id="{{ category }}"><span>{{ message }}</span></div>
                {% endfor %}
            </div>
        {% endif %}
      {% endwith %}
    <img src="https://previews.dropbox.com/p/thumb/AAmRk9nwH4LzfK3Xo_Xpv7ZNQHrVy7GYbF-0akHho6fbSVY8_mQ6j0HZPxkMy9p43HBw2jl57Ks5o2ryhiA5JvK_ZYicl-nu2V7sCog8Zt_LwmK4Ef_BUlY_zWgNnvKY85CeAb-L2S0rhpZkADPFaZR2UNbtnoeZ9M6cGcfWHiQGVYv74j9txiyUoRKzhQt9Eh21SLn5SOEAc2RiZ8Le193iQe_wjApLvvs2_Rtmgh-axZAZ50CdQM7nTakZOIBDfC499Xs0rdVAmgihzN21cL8AqY96vzKrzn-QmJWypjcMGtXt2ijbK-eSuQzd3X6YWY3eGQHeks7LFyJeGqLWlLpT/p.png?fv_content=true&size_mode=5"
    alt="LOGO">
    <div id="menu" class="cb">
    <ul id="navibar">
        <li><a href="{{ url_for('shop.home') }}" id="home">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('shop.profile',username=current_user)}}" id="profile">Profile</a></li>
        {% endif %}
        <li><a href="{{ url_for('shop.posts') }}" id="posts">Posts</a></li>
        <li><a href="{{ url_for('shop.shop_list') }}" id="shop_list" >List</a></li>
        <li><a href="{{ url_for('shop.cart')  }}" id="cart">Cart</a> </li>
        <li><a href="{{ url_for('shop.users') }}" id="users">Users List</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('shop.login') }}" id="login">Login</a></li>
        {% else %}
        <li><a href="{{ url_for('shop.logout') }}" id="logout">Logout: <b>{{ current_user}}</b></a></li>
        {% endif %}
    </ul>
  </div>
   <h1>{% block h1 %}{% endblock %}</h1>
  <div id="page" class="cb">
   {% block page %}{% endblock %}
  </div>
  </body>

</html>
