<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
      <title>{% block title %}{% endblock %} {{ config.TITLE }} </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <img src="https://previews.dropbox.com/p/thumb/AAlkNCFaF6GQlho8xLBnjIPJb2eRRxA8-GrEX6CBwvVwJeUn0qlz0CZEfUmwR4ucfoIJToNnxTsKlq9sYADDLYMObUgVHUE8MBjDemuI5fDyM3DsYa0Xk60rdyK4fj-hwJJom2GHFhrsZX-1ljYybWO2obJCXU4m0WoJGf1s7Rsj4QWbPwAhjV52iLVjoHaKh44X-aCdfR2vQj6zVwgpDiUqK-45Q43DfSS_-VF5XiYCf1iZqm7xU2p9RxaBywTYqM85dZYM9Mg-hfJYZSytO6psqMkR5l4JLb2yIcso41dmL5QGHzgNPYLdp9NAoyHwYQX5dRFDVT37--HTAN5whUxB/p.png?fv_content=true&size_mode=5"
    alt="LOGO">
    <div id="menu" class="cb">
    <ul id="navibar">
        <li><a href="{{ url_for('shop.home') }}" id="home">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('shop.profile',username=current_user)}}" id="profile">Profile</a></li>
        {% endif %}
        <li><a href="{{ url_for('shop.shop_list') }}" id="shop_list" >List</a></li>
        <li><a href="{{ url_for('shop.users') }}" id="users">Users List</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('shop.login') }}" id="login">Login</a></li>
        {% else %}
        <li><a href="{{ url_for('shop.logout') }}" id="logout">Logout: <b>{{ current_user}}</b></a></li>
        {% endif %}
    </ul>
  </div>
   <h1>{% block h1 %}{% endblock %}</h1>
  <div id="page" class="cb">
   {% block page %}{% endblock %}
  </div>
  </body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li id="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</html>
