<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
      <title>{% block title %}{% endblock %} {{ config.TITLE }} </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class=flashes>
                {% for category, message in messages %}
                        <div id="{{ category }}"><span>{{ message }}</span></div>
                {% endfor %}
            </div>
        {% endif %}
      {% endwith %}
<!--    <img src="https://i.ibb.co/N9ryPQ2/logo.png" alt="logo" border="0" />-->
    <div id="menu" class="cb">
    <ul id="navibar">
        <li><a id="logo_nav" ><img src="https://i.ibb.co/bQ7j622/unnamed.png" alt="LOGO" border="0"></a></li>
        <li><a href="{{ url_for('shop.home') }}" id="home">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('userShop.profile',username=current_user)}}" id="profile">Profile</a></li>
        {% endif %}
        <li><a href="{{ url_for('postShop.posts') }}" id="posts">Posts</a></li>
        <li><a href="{{ url_for('shop.shop_list') }}" id="shop_list" >List</a></li>
        <li><a href="{{ url_for('shop.cart')  }}" id="cart">Cart</a> </li>
        <li><a href="{{ url_for('userShop.users') }}" id="users">Users List</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('userShop.login') }}" id="login">Login</a></li>
        {% else %}
        <li><a href="{{ url_for('userShop.logout') }}" id="logout">Logout: <b>{{ current_user}}</b></a></li>
        {% endif %}
        <li><input type="text" placeholder="Search.."></li>
    </ul>
  </div>
   <h1>{% block h1 %}{% endblock %}</h1>
  <div id="page" class="cb">
   {% block page %}{% endblock %}
  </div>
  </body>

</html>
