{% extends "body.html" %}
{% block title %}Shopping cart{% endblock%}
{% block h1 %}Your shopping cart{% endblock%}
{% block page %}
 <body id="cart">
     <div id="table" class="cb">
       <table border="0">
           <tr class="table_title">
                <th><p class="title">Name</p></th>
                <th><p class="title">Price</p></th>
               <th><p class="title">Quantity</p></th>
           </tr>
           {%for product in user_cart_list%}
           <tr class="table_col">
                <td class="table_col">
                    <b>{{ product.name }}</b>
                </td>
                <td class="table_col">
                     <i>{{ product.price }}</i>
                </td>
                <td class="table_col">
                    <form class="add-form" method = "POST" action="{{ url_for('shop.cart')}}">
                        <input id="quantity" name="quantity" value='1'> / {{product.quantity}}
                        <button name=quantity   type="submit" >Chose</button>
                    </form>
                </td>
           </tr>
           {%endfor%}
       </table>
     </div>
     <form class="buy-form" method = "POST" action="{{ url_for('shop.buy')}}">
        <br><button id='add' name=buy value='{{user_cart_list_name}}' type="submit"><b>BUY</b></button>
     </form>
     <form class="rem-form" method = "POST" action="{{ url_for('shop.clear_cart')}}">
        <br><button id='rem' name=clear_cart value='{{user_cart_list_name}}' type="submit">Clear your cart</button>
     </form>
<!-- <br><p>{{ ip }}</p>-->
 </body>
{% endblock %}