{% extends "body.html" %}
{% block title %}Shopping cart{% endblock%}
{% block h1 %}Your shopping cart{% endblock%}
{% block page %}
 <body id="cart">
     <div id="table" class="cb">
       <table border="0">
           <tr class="table_title">
               <th><p class="title"></p></th>
               <th><p class="title">Name</p></th>
               <th><p class="title">Price</p></th>
               <th><p class="title">Quantity</p></th>
           </tr>
           {%for product in user_cart_list%}
           <tr class="table_col">
                <td class="table_col">
                    <a href="{{ url_for('shop.shop_list',product=product.name)}}" >
                        <img class="main_img" src="{{product.image}}" alt="// PIC //"
                             onerror="this.src='https://i.ibb.co/mqT6phW/pic-x.png'"
                                border="0" height="60" width="88"></a>
                </td>
               <td class="table_col">
                    <b><a href="{{ url_for('shop.shop_list',product=product.name)}}" >{{ product.name }}</a></b>
                </td>
                <td class="table_col">
                     <i>{{ product.price }}</i>
                </td>
                <td class="table_col">
                        <input id="quantity" name="quantity"  value=1> / {{product.quantity}}
                </td>
           </tr>
           {%endfor%}
            <tr class="table_title">
                <th><p class="title"></p></th>
               <th><p class="title"></p></th>
               <th><p class="title">
                   {%for product in user_cart_list%}

                   {%endfor%}

                    </p></th>
               <th><p class="title"></p></th>
           </tr>
       </table>
     </div>
     <form  class="buy-form" method = "POST" action="{{ url_for('shop.buy')}}">
        <br><button id='add' name=buy value={{quantity}} type="submit"><b>BUY</b></button>
     </form>
     <form class="rem-form" method = "POST" action="{{ url_for('shop.clear_cart')}}">

        <br><button id='rem' name=clear_cart value={{user_cart_list_name}} type="submit">Clear your cart</button>
     </form>
<!-- <br><p>{{ ip }}</p>-->
 </body>
{% endblock %}