{% extends "body.html" %}
{% block page %}
<body id="login">
    <div class="loginDiv">
        <h1>Login</h1>
         <form action="" method="post" novalidate>
             {{ form.hidden_tag() }}
            <p>
                {{form.username.label}}<br>
                {{form.username(size=32) }}<br>
            </p>
            <p>
                {{form.password.label}}<br>
                {{form.password (size=32) }}<br>
            </p>
            <p>{{ form.submit() }}</p><br>
        </form>
        <form id = '' class="" method = "POST" action="{{ url_for('userShop.google_login')}}">
            <button id='add' name=post type="submit">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1280px-Google_2015_logo.svg.png" alt="Google" border="0" height="25" width="80">
            </button>
        </form>
            <ul>
                <li><a href="{{ url_for('userShop.register') }}" id="users">Registration</a></li>
            </ul><br><br>
    </div>
</body>

{% endblock %}