{% extends "body.html" %}
{% block title %}Posts{% endblock%}
{% block page %}
 <body id="posts">
        <form id = 'main_post' class="post-form" method = "POST" action="{{ url_for('postShop.remove_post')}}">
            <div class="posts">
               <div class="main_post">
                   <p>
                       <b>{{title}} </b>
                   {% if current_user.is_authenticated %}
                       <input type="checkbox" name='remove_post' value={{post_id}}><i>{{post_id}}</i>
                   </p>
                   {% endif %}
                   <p>{{post}}</p>
                   <p class="author"><i>Author: <b>{{user}}</b></i></p>
                   <p><div class="post_date">{{time}}</div></p>
               </div>
                {% for item in posts_list2 %}
                   <div class="sec_posts">
                        <p>
                            <b>{{item.title}}</b>
                            {% if current_user.is_authenticated %}
                            <input type="checkbox" name="remove_post" value={{item.id}} ><i>{{item.id}}</i>
                            {% endif %}
                       </p>
                       <p>{{item.post}}</p>
                       <p class="author"><i>Author: <b>{{item.user}}</b></i></p>
                       <p><div class="post_date">{{item.time_date}}</div></p>
                   </div>
                {% endfor %}
             </div>
       {% if current_user.is_authenticated %}
       <label><input type="checkbox" name="remove_post" value="all_posts_remove">All</label>
       {% endif %}
        </form>
          <div class="add_post">
             <form id = 'form2' class="add-form" method = "POST" action="{{ url_for('postShop.add_post')}}">
                 <br><textarea rows="1" cols="70"  name="title" placeholder="Title"></textarea>
                 <br><textarea rows="8" cols="70"  name="post" placeholder="Put text here..."></textarea><br>
                 <button id='add' name=post type="submit"  >Add new post</button>
             </form>

              <form class="post-form" method = "POST" action="{{ url_for('postShop.remove_post')}}">
                  {% if current_user.is_authenticated %}
                  <button form=main_post type="submit">Remove post</button>
                  {% endif %}
              </form>
          </div>
 </body>
{% endblock %}
