{% extends "body.html" %}
{% block title %}{{ product.name }}{% endblock%}
{% block h1 %}Product: <i>{{product.name}}</i> [ID: <b>{{ product.id }}]</b> {% endblock%}
{% block page %}
 <body id="product">
    <ul>
        <li>Product name: <b>{{ product.name }}</b> </li>
        <li>Price: <b>{{ product.price }}</b> </li>
        <li>Description: <b>{{ product.description }}</b>
         {% if current_user.is_authenticated %}
            {% if current_role == role_req %}
                <form class="add-form" method = "POST" action="{{ url_for('shop.add_description')}}">
                    <br><textarea rows="5" cols="50"  name="description" >{{product.description}}</textarea><br>
                    <button id='select' name=product type="submit" value={{product.name}} >Change description</button>
                </form>
                <form class="rem-form" method = "POST" action="{{ url_for('shop.delete')}}">
                    <button name=product value={{product.name}} id='rem' type="submit" >Remove product</button>
                </form>
            {% endif %}
         {% endif %}
        </li>
    </ul>
 </body>
{% endblock %}
