{% extends "body.html" %}
{% block title %}{{ product.name }}{% endblock%}
{% block h1 %}Product: <i>{{product.name}}</i> [ID: <b>{{ product.id }}]</b> {% endblock%}
{% block page %}
 <body id="product">
    <img src="{{product.image}}" alt="// PIC //" onerror="this.src='https://i.ibb.co/mqT6phW/pic-x.png'" border="0"
         height="300" width="510">
    <ul>
        <li>Product name: <b>{{ product.name }}</b> </li>
        <li>Price: <b>{{ product.price }}</b> </li>
        <li>Quantity:
            {% if current_user.is_authenticated and current_role != role_req or current_user.is_anonymous %}
                    <b>{{ product.quantity }}</b>
            {% endif %}
            {% if current_user.is_authenticated %}
                {% if current_role == role_req %}
                    <form class="add-form" method = "POST" action="{{ url_for('shop.product_quantity')}}">
                        <input id="quantity" name=new_quantity value={{product.quantity}}>
                        <button name=product_id value={{product.id}} type="submit">Change</button>
                    </form>
                </li>
            </ul>
                <br>
                 Description: <b>{{ product.description }}</b>

                <form class="add-form" method = "POST" action="{{ url_for('shop.add_description')}}">
                    <br><textarea rows="5" cols="50"  name="description" >{{product.description}}</textarea><br>
                    <button name=product_id value={{product.id}} id='select' type="submit">Change description</button>
                </form>
                <form class="add-form" method = "POST" action="{{ url_for('shop.add_product_img')}}">
                    <br><br><button name=product_id value={{product.id}} type="submit">Add product image</button>
                    <input name=product_image_link type="text" >
                </form>
                <form class="rem-form" method = "POST" action="{{ url_for('shop.delete')}}">
                    <br><br><button name=product_id value={{product.id}} id='rem' type="submit" >Remove product</button>
                </form>
            {% endif %}
         {% endif %}
            <form class="add-form" method = "POST" action="{{ url_for('shop.cart')}}">
                <br><br><button name=product_id value={{product.id}} id='add' type="submit" >Add to cart</button>
            </form>
 </body>
{% endblock %}
