{% extends "body.html" %}
{% block title %}{{ profile }}{% endblock%}
{% block page %}
 <body id="profile">
<!--        <img src="{{profile.picture}}" alt="// My picture //" onerror="this.src='https://i.ibb.co/wh9JJYp/profile-pic.png'" border="0"-->
<!--         height="300" width="510">-->
        <p>Username: <b>{{ profile }}</b> </p>
        <p>First name: <b>{{ profile.first_name }}</b> </p>
        <p>Last name: <b>{{ profile.last_name }}</b> </p>
        <p>Email: <b>{{ profile.email }}</b> </p>
        <br>
    <a href="{{ url_for('userShop.change_password')}}" id="changepass">Change password</a>
    <br><br><p><b>Your posts:</b></p>
    <form  class="post-form" method = "POST" action="{{ url_for('postShop.remove_post')}}">
        {% for post in posts %}
        <div class="sec_posts">
            <p><b>{{post.title}}</b><input type="checkbox" name="remove_post" value={{post.id}}></p>
            <p>{{post.post}}</p>
            <p>{{post.user}}</p>
        </div>
        {% endfor %}
        <br>
        <button  type="submit">Remove post</button>
    </form>
 </body>
{% endblock %}
