{% extends "body.html" %}
{% block title %}Register{% endblock%}
{% block h1 %}Register{% endblock%}
{% block page %}

<body id="register">
    <form action="" method="post">
         {{ form.hidden_tag() }}
        <p>
            {{form.first.label}}<br>
            {{form.first(size=32) }}<br>
        </p>
        <p>
            {{form.last.label}}<br>
            {{form.last(size=32) }}<br>
        </p>
        <p>
            {{form.email.label}}<br>
            {{form.email(size=32) }}<br>
        </p>
        <p>
            {{form.username.label}}<br>
            {{form.username(size=32) }}<br>
        </p>
        <p>
            {{form.password.label}}<br>
            {{form.password (size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>

{% endblock %}
