{% extends "body.html" %}
{% block title %}Products{% endblock%}
{% block h1 %}Product list{% endblock%}
{% block page %}
<body id="shop_list">
<div id="table" class="cb">
   <table border="1">
      <colgroup span="3"></colgroup>
       <tr>
            <th><p>Name</p></th>
            <th><p>Price</p></th>
            <th><p>ID</p></th>
        </tr>
        <tr>
           <td>
               {% for item in products_name %}
                  <p> <a href="{{ url_for('shop.shop_list',product=item)}}" >{{ item }}</a></p>
               {% endfor %}
           </td>
            <td>
               {% for item in products_price %}
                <p>{{ item }}</p>
               {% endfor %}
           </td>
            <td>
               {% for item in products_id %}
                  <p> {{ item }}</p>
               {% endfor %}
           </td>
         </tr>
   </table><br><br>
</div>
    {% if current_user.is_authenticated %}
        {% if current_role == role_req %}
             <form class="add-form" method="POST" action="{{ url_for('shop.add') }}">
                 <br> <input name="pr_name" placeholder="Product name"/>
                 <br> <input name="pr_price" placeholder="Price"/><br>
                 <button id="add" type="submit">Add</button>
             </form>
             <form class="rem-form" method="POST" action="{{ url_for('shop.delete') }}">
                 <br> <input name="pr_name" placeholder="Product to remove"/><br>
                 <button id="rem" type="submit">Delete</button><br><br><br>
             </form>
        {% endif %}
    {% endif %}
</body>
{% endblock %}
