{% extends "body.html" %}
{% block title %}Products{% endblock%}
{% block h1 %}Product list{% endblock%}
{% block page %}
<body id="shop_list">
<div id="table" class="cb">
   <table border="1">
      <colgroup span="3"></colgroup>
       <tr>
            <th><p>Name</p></th>
            <th><p>Price</p></th>
            <th><p>ID</p></th>
        </tr>
        <tr>
           <td>
               {% for item in products_name %}
                  <p> {{ item }}</p>
               {% endfor %}
           </td>
            <td>
               {% for item in products_price %}
                <p> {{ item }}</p>
               {% endfor %}
           </td>
            <td>
               {% for item in products_id %}
                  <p> {{ item }}</p>
               {% endfor %}
           </td>
         </tr>
   </table>
</div>
</body>
{% endblock %}
