{% extends "body.html" %}
{% block title %}Products{% endblock%}
{% block h1 %}Product list{% endblock%}
{% block page %}
<body id="shop_list">
<div id="table" class="cb">
   <table border="0">
       <tr class="table_title">
            <th><p class="title">Name</p></th>
            <th><p class="title">Price</p></th>
            <th><p class="title">Quantity</p></th>
            <th><p class="title">ID</p></th>
        </tr>
        <tr class="table_col">
           <td class="table_col">
               {% for item in products_name %}
                <p>
                  <a href="{{ url_for('shop.shop_list',product=item)}}" >{{ item }}</a>
               </p>
               {% endfor %}
           </td>
            <td class="table_col">
               {% for item in products_price %}
                <p>{{ item }}</p>
               {% endfor %}
           </td>
            <td class="table_col">
               {% for item in products_quantity %}
                  <p> {{ item }}</p>
               {% endfor %}
           </td>
                 <td class="table_col">
                     <form id = 'checkbox_id' class="post-form" method = "POST" action="{{ url_for('shop.delete_selected')}}" >
                       {% for item in products_id %}
                          <p>
                              {{ item }}
                                {% if current_user.is_authenticated %}
                                    {% if current_role == role_req %}
                                        <input type="checkbox" name="remove_product" value={{item}}>
                                    {% endif %}
                                {% endif %}
                          </p>
                       {% endfor %}
                     </form>
                </td>

         </tr>
   </table><br><br>
</div>
    {% if current_user.is_authenticated %}
        {% if current_role == role_req %}
        <h2>Admin panel</h2>
             <form class="add-form" method="POST" action="{{ url_for('shop.add') }}">
                 <br> <input name="product_name" placeholder="Product name"/>
                 <br> <input name="product_price" placeholder="Price"/>
                 <br> <input name="product_quantity" placeholder="Quantity"/><br>
                 <button id="add" type="submit">Add</button>
             </form>
             <form method="POST" action="{{ url_for('shop.import_csv') }}" enctype="multipart/form-data">
                 <br> Select a file:
                 <br><input type="file" name=csv_file accept=".csv">
                 <br><button type="submit">Import file</button><br>
             </form>
            <form class="export-form" method="POST" action="{{ url_for('shop.export_products') }}">
                 <button type="submit">Export file</button>
                 <select class="form-control" name="format" id="format">
                        <option value='csv'>csv </option>
                        <option value='json'>json </option>
                 </select><br>
             </form>
             <form class="rem-form" method="POST" action="{{ url_for('shop.delete') }}">
                 <br> <input name="product" placeholder="Product to remove"/><br>
                 <button id="rem" type="submit">Delete</button>
             </form>
             <form class="rem-form" method="POST">
                 <button form=checkbox_id type="submit">Delete marked</button><br><br>
             </form>

        {% endif %}
    {% endif %}
</body>
{% endblock %}
