{% extends "body.html" %}
{% block title %}Users list{% endblock%}
{% block h1 %}Users list{% endblock%}
{% block page %}
<body id="users">
    <ul id="usersbar">
        {% if current_role == role_req %}
            {% for item in users_list %}
            <li> <a href="{{ url_for('shop.users',username=item)}}" >{{ item }}</a> </li>
            {% endfor %}
        {% else %}
            {% for item in users_list %}
            <li> {{ item }} </li>
            {% endfor %}
        {% endif %}
    </ul><br>
</body>

{% endblock %}

