{% extends "body.html" %}
{% block title %}Users list{% endblock%}
{% block h1 %}Users list{% endblock%}
{% block page %}
<body id="users">
<div id="table">
    {% if current_role == role_req %}
    <table border="0">
            <tr class="table_title">
                <th>Users: </th>
            </tr>
            <tr class="table_col">
            <td class="table_col">
                {% for item in users_list %}
                <p><a href="{{ url_for('shop.users',username=item)}}" >{{ item }}</a></p>
                {% endfor %}
            </td>
            </tr>
    </table><br>
        <form class="rem-form" method="POST" action="{{ url_for('shop.remove_user') }}">
            <input name="user" placeholder="User to remove"/><br>
            <button id="rem"  type="submit">Delete</button>
        </form>
        {% else %}
    <table border="0">
            <tr class="table_title">
                <th>Users: </th>
            </tr>
            <tr class="table_col">
            <td class="table_col">
            {% for item in users_list %}
                <p>{{ item }}</p>
            {% endfor %}
            {% endif %}
            </td>
            </tr>
    </table>
    </div>
</body>
{% endblock %}
