{% extends "body.html" %}
{% block title %}Users list{% endblock%}
{% block h1 %}Users list{% endblock%}
{% block page %}
<body id="users">
    {% if current_role == role_req %}
            <ul id="usersbar">
                {% for item in users_list %}
                <li> <a href="{{ url_for('shop.users',username=item)}}" >{{ item }}</a></li>

                {% endfor %}<br><br>
            </ul>
        <form class="rem-form" method="POST" action="{{ url_for('shop.remove_user') }}">
            <input name="user" placeholder="User to remove"/>
            <button id="rem"  type="submit">Delete</button>
        </form>
        {% else %}

        <ul>
            {% for item in users_list %}
            <li> {{ item }} </li>
            {% endfor %}
            {% endif %}
        </ul><br>

</body>

{% endblock %}
